# this workflow runs when a release was published.
on:
  release:
    types: [published]

name: "release_published"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v3
      -
        name: Login to Docker Registry
        uses: docker/login-action@v1.12.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: eunts/frwd:latest,eunts/frwd:${{ github.event.release.tag_name }}
