# this workflow runs when a release was published.
on:
  release:
    types: [published]

name: "release_published"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v4
      -
        name: Login to Docker Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ghcr.io/eun/frwd:latest,ghcr.io/eun/frwd:${{ github.event.release.tag_name }}
